* {
  margin: 0;
  padding: 0;
}

label {
  width: 60px;
  height: 45px;
  position: absolute;
}

label span {
  width: 100%;
  height: 5px;
  margin-top: 1em;
  margin-left: 2vw;
  background-color: black;
  display: block;
  border-radius: 2px;
  transition: all .5s ease;
}

#h_checkbox {
  display: none;
  position: absolute;
  left: 0;
}

.menu {
  width: 30vw;
  height: 100%;
  background-color: black;
  color: white;
  position: absolute;
  left: -30vw;
  z-index: -1;
  text-align: center;
}

.menu h1 {
  padding-top: 3em;
}

label span:nth-child(1) {
  top: 0px;
}

label span:nth-child(2) {
  top: 20px;
}

label span:nth-child(3) {
  top: 40px;
}

#h_checkbox:checked ~ label > span:nth-child(1) {
  animation: span1 .8s forwards;
}

@keyframes span1 {
  0% {
    transform: rotate(0) translate(0);
  }
  100% {
    transform: rotate(-45deg) translate(-14px, 14px);
  }
}

#h_checkbox:checked ~ label > span:nth-child(2) {
  animation: span2 .8s forwards;
}

@keyframes span2 {
  0% {
    transform: rotate(0) translate(0);
  }
  100% {
    transform: rotate(45deg) translate(0);
  }
}

#h_checkbox:checked ~ label > span:nth-child(3) {
  animation: span3 .8s forwards;
}

@keyframes span3 {
  0% {
    transform: rotate(0) translate(0);
  }
  100% {
    transform: rotate(135deg) translate(-14px, 14px);
  }
}

/*returning*/
label span:nth-child(1) {
  animation: span1_close .8s;
}

@keyframes span1_close {
  0% {
    transform: rotate(-45deg) translate(-20px, 20px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

label span:nth-child(2) {
  animation: span2_close .8s;
}

@keyframes span2_close {
  0% {
    transform: translate(0, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

label span:nth-child(3) {
  animation: span3_close .8s;
}

@keyframes span3_close {
  0% {
    transform: rotate(45deg) translate(-7px, -7px);
  }
  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

#h_checkbox:checked ~ .menu {
  left: 0;
}

#h_checkbox:checked ~ label span {
  background-color: white;
  margin-left: 20vw;
}

#h_checkbox:checked {
  left: 30vw;
}
